# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/yarn.lock
/package-lock.json

# misc
.DS_Store
